<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full no-border">
    <!--== Start Top Search ==-->
  <div class="fullscreen-search-overlay" id="search-overlay"> <a href="#" class="fullscreen-close" id="fullscreen-close-button"><i class="icofont icofont-close"></i></a>
    <div id="fullscreen-search-wrapper">
      <form method="get" id="fullscreen-searchform">
        <input type="text" value="" placeholder="Type and hit Enter..." id="fullscreen-search-input" class="search-bar-top">
        <i class="fullscreen-search-icon icofont icofont-search">
        <input value="" type="submit">
        </i>
      </form>
    </div>
  </div>
  <!--== End Top Search ==-->
  <div class="container">
    <!--== Start Atribute Navigation ==-->
    <div class="attr-nav hidden-xs sm-display-none">
      <ul>
        <li class="side-menu"><a href="#"><i class="icofont icofont-navigation-menu"></i></a></li>
        <li class="search"><a href="#" id="search-button"><i class="icofont icofont-search"></i></a></li>
      </ul>
    </div>
    <!--== End Atribute Navigation ==-->

    <!--== Start Header Navigation ==-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
      <div class="logo"> <a href="index.html"> <img class="logo logo-display" src="assets/images/logo-white-full.png" alt=""> <img class="logo logo-scrolled" src="assets/images/logo-black.png" alt=""> </a> </div>
    </div>
    <!--== End Header Navigation ==-->

    <!--== Collect the nav links, forms, and other content for toggling ==-->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts</a>
          <ul class="dropdown-menu">
            <li><a href="home-main.html">Main Demo</a></li>
            <li><a href="home-creative-agency.html">Home Creative Agency</a></li>
            <li><a href="home-digital.html">Home Digital</a></li>
            <li><a href="home-minimal-agency.html">Home Minimal Agency</a></li>
            <li><a href="home-business.html">Home Business</a></li>
            <li><a href="home-studio.html">Home Studio</a></li>
            <li><a href="home-startup.html">Home Startup</a></li>
            <li><a href="home-marketing.html">Home Marketing</a></li>
            <li><a href="home-parallax.html">Home Parallax</a></li>
            <li><a href="home-image-bg.html">Home Image Background</a></li>
            <li><a href="home-video-bg.html">Home Video Background</a></li>
            <li><a href="home-kenburn.html">Home Kenburn</a></li>
          </ul>
        </li>
        <li><a class="page-scroll" href="#feature">Features</a></li>
        <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
        <li><a class="page-scroll" href="#about">About</a></li>
        <li><a class="page-scroll" href="#team">Team</a></li>
        <li><a class="page-scroll" href="#pricing">Pricing</a></li>
        <li><a class="page-scroll" href="#contact">Contact</a></li>
      </ul>
    </div>
    <!--== /.navbar-collapse ==-->
  </div>

  <!-- Start Side Menu -->
  <div class="side default-bg">
          <a href="index.html" class="logo-side"><img src="assets/images/logo-white-sidemenu.png" alt="side-logo"/></a>
          <a href="#" class="close-side"><i class="icofont icofont-close"></i></a>
          <div class="widget mt-120">
            <ul class="link">
              <li class="link-item"><a class="page-scroll" href="#home">Home</a></li>
              <li class="link-item"><a class="page-scroll" href="#feature">Features</a></li>
              <li class="link-item"><a class="page-scroll" href="#portfolio">Portfolio</a></li>
              <li class="link-item"><a class="page-scroll" href="#about">About</a></li>
              <li class="link-item"><a class="page-scroll" href="#team">Team</a></li>
              <li class="link-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
              <li class="link-item"><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
          </div>
          <ul class="social-media">
            <li><a href="#" class="icofont icofont-social-facebook"></a></li>
            <li><a href="#" class="icofont icofont-social-twitter"></a></li>
            <li><a href="#" class="icofont icofont-social-behance"></a></li>
            <li><a href="#" class="icofont icofont-social-dribble"></a></li>
            <li><a href="#" class="icofont icofont-social-linkedin"></a></li>
          </ul>
   </div>
   <!-- End Side Menu -->

</nav>