<section style="background:url(assets/images/background/stars-bg.png) center center no-repeat #24182e;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 xs-mb-50">
          <div class="section-title text-left white-color">
            <h2 class="cardo-font white-color" data-backfont="Steps">Our Steps</h2>
            <h1>Work Together <br>For <span class="text-bottom-line-sm">Success</span></h1>
          </div>
        </div>
      </div>
      <div class="row our-process-style-02 mt-50">
         <div class="col-md-3 col-sm-6 col-xs-12 line xs-mb-30 sm-mb-30">
           <div class="icon-wrap color-1">
             <div class="icon">
               <i class="icon-tools white-color font-30px"></i>
             </div>
           </div>
           <div class="text-center white-color">
             <h3 class="mt-10 white-color font-600">Design</h3>
             <p class="mb-0">Web design is the process of creating websites. It encompasses several different aspects, including webpage layout. </p>
           </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12 line xs-mb-30 sm-mb-30">
           <div class="icon-wrap color-2">
             <div class="icon">
               <i class="icon-globe white-color font-30px"></i>
             </div>
           </div>
           <div class="text-center white-color">
             <h3 class="mt-10 white-color font-600">Development</h3>
             <p class="mb-0">Web development refers to building, creating, and an maintaining websites. It includes aspects such as web design. </p>
           </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12 line xs-mb-30">
           <div class="icon-wrap color-3">
             <div class="icon">
               <i class="icon-mobile white-color font-30px"></i>
             </div>
           </div>
           <div class="text-center white-color">
             <h3 class="mt-10 white-color font-600">Testing</h3>
             <p class="mb-0">Test design is a process that describes “how” testing should be done. It includes processes for the identifying test cases.</p>
           </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12 line xs-mb-30">
           <div class="icon-wrap color-4">
             <div class="icon">
               <i class="icon-browser white-color font-30px"></i>
             </div>
           </div>
           <div class="text-center white-color">
             <h3 class="mt-10 white-color font-600">Live</h3>
             <p class="mb-0">Web testing is a software testing practice to test websites or web applications for potential bugs. It's a complete testing.</p>
           </div>
         </div>
       </div>
    </div>
  </section>