<section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 xs-mb-50">
          <div class="section-title text-left">
            <h2 class="cardo-font default-color" data-backfont="Services">Our Services</h2>
            <h1>Work Together <br>For <span class="text-bottom-line-sm">Success</span></h1>
            <p class="mt-50 font-26px line-height-40">Anno template provides fully flexible templates, allowing to customize every page and section down to the tiniest detail in a few clicks!</p>
            <p class="mt-30"><a class="btn btn-lg btn-dark btn-square">Read more</a></p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="panel-group accordion-style-01" id="accordion-style">
            <div class="panel">
              <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question1" aria-expanded="false" class="collapsed">
                <div class="panel-title">UX and UI Design <span class="pull-right"><i class="ion-android-add"></i></span> </div>
                </a> </div>
              <div id="question1" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body"> We’ve all overheard conversations, walking down hip streets of the world’s tech capitals, discussions about the great ‘UX’ of a product, or the poor ‘UI’ of a website. </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question2" aria-expanded="false" class="collapsed">
                <div class="panel-title">Development <span class="pull-right"><i class="ion-android-add"></i></span> </div>
                </a> </div>
              <div id="question2" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body"> Web development refers to building, creating, and an maintaining websites. It includes aspects such as web design, web publishing, web programming, and database management. While the terms "web developer" and "web designer" are often used synonymously, they do not mean the same thing. </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question3" aria-expanded="false" class="collapsed">
                <div class="panel-title">Motion Graphics <span class="pull-right"><i class="ion-android-add"></i></span> </div>
                </a> </div>
              <div id="question3" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body"> Motion graphics are pieces of animation or digital footage which create the illusion of motion or rotation, and are usually combined with audio for use in multimedia projects. </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question4" aria-expanded="false" class="collapsed">
                <div class="panel-title">Digital Marketing <span class="pull-right"><i class="ion-android-add"></i></span> </div>
                </a> </div>
              <div id="question4" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body"> Digital marketing is the marketing of products or services using digital technologies, mainly on the Internet, but also including mobile phones, display advertising, and any other digital medium. </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question5" aria-expanded="false" class="collapsed">
                <div class="panel-title">Art Direction <span class="pull-right"><i class="ion-android-add"></i></span> </div>
                </a> </div>
              <div id="question5" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body"> Art director is the title for a variety of similar job functions in theater, advertising, marketing, publishing, fashion, film and television, the Internet, and video games. It is the charge of a sole art director to supervise and unify the vision. </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question6" aria-expanded="false" class="collapsed">
                <div class="panel-title">Interaction Design <span class="pull-right"><i class="ion-android-add"></i></span> </div>
                </a> </div>
              <div id="question6" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
                <div class="panel-body"> Interaction Design (IxD) is the design of interactive products and services in which a designer's focus goes beyond the item in development to include the way users will interact with it. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>